@import "tailwindcss";
.font-mulish-100 {
  font-family: "Mulish", sans-serif;
  font-weight: 100;
}

.font-mulish-200 {
  font-family: "Mulish", sans-serif;
  font-weight: 200;
}

.font-mulish-300 {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}

.font-mulish-400 {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.font-mulish-500 {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
}

.font-mulish-600 {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

.font-mulish-700 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

.font-mulish-800 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
}

.font-mulish-900 {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
}
